body {
	background-color:E5E4E2;
}

h1 {
	color: E66C2C;
	font-family: "Times New Roman", Times, serif;
	text-align:center;

}
h2 {
	color: E66C2C;
	font-family: "Times New Roman", Times, serif;
}
h3 {
	color: 357EC7;
	font-family: "Times New Roman", Times, serif;
}
h4 {
	color: Black;
	font-family: "Times New Roman", Times, serif;
}
div { 
	font-size: 20px; 
	text-align:center;
}
p {
	color: Black;
	margin-left: 12px;
	font-family: "Times New Roman", Times, serif;
}
a:link, {
  color: Black;
}
a:visited {
  color: Black;
}
a:hover {
  color: 357EC7;
}
span { 
	color:E66C2C;
	border-style:dotted;
